@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;

  /* Optional: Define global font sizes */
  --fs-xl: 2.25rem;  /* 36px */
  --fs-lg: 1.5rem;   /* 24px */
  --fs-md: 1.125rem; /* 18px */
  --fs-base: 1rem;   /* 16px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-xs: 0.75rem;  /* 12px */
}

body {
  font-family: var(--font-space-grotesk);
  font-size: var(--fs-base);
  line-height: 1.6;
}